		<fls:Prestazione AreaAttivita="{{area_att}}" SottoAreaAttivita="{{sottoarea}}" TipoPrestazione="{{tipo_prest}}" NumeroIncontriPrevisti="{{num_inc}}" DataPrenotazione="{{data_pren}}" DataInizioCicloPrestazioni="{{data_ini_ciclo}}" DataPresuntaFinePrestazioni="{{fata_fine_ciclo}}" SedePrestazione="{{sede_prest}}" MediazioneCulturale="{{med_cult}}" PrestazioneMultiProfessionale="{{prest_multiprof}}" PersonaleCoinvolto_1="{{pers_coinv1}}" PersonaleCoinvolto_2="{{pers_coinv2}}" PersonaleCoinvolto_3="{{pers_coinv3}}" PersonaleCoinvolto_4="{{pers_coinv4}}" TerziCoinvolti_1="{{terzi_coinv1}}" TerziCoinvolti_2="{{terzi_coinv2}}" TerziCoinvolti_3="{{terzi_coinv3}}" ProgressivoPrestazione="{{progr_prest}}"/>
